body {
  margin: 0;
  font-family: "Shentox", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header {
  width: 100%;
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #131313;
  height: 32px;
  align-items: center;
}

.header-tabs a {
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.header-tabs-bottom {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.links {
  margin-left: 20px;
}

.links a {
  text-decoration: none;
  padding: 0 5px 0 5px;
  color: rgb(134, 134, 134);
  text-transform: uppercase;
}

.left-panel {
  margin-left: 20px;
}

.right-panel {
  margin-right: 20px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
}

nav .fas {
  margin: 0 5px 0 5px;
  padding: 16px;
}

.search,
.bars {
  border-left: 1px solid #ddd;
}

.logo {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3fG5BHUm21ojhVzkkzTCC91roqzrHIfzxh2PHZ9SizvgK9S5Zh6U8nwrXwHJKjHsdy9xCDbwgQFuubGNX79N0Oezrhnya-8XAwqjvEuGA3kQrLiR0hd0yMj0VCTr0R1TunS6xOjy_Ij2QG_bSWR8SEs=w106-h80-no?authuser=0");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 80px;
}

.article-link {
  background: #fd3;
  padding: 5px 5px 5px 140px;
  margin-left: -120px;
  margin-bottom: 2px;
}

.photos-grid {
  display: flex;
  padding-top: 110px;
}

.main,
.sm-col {
  margin: 0 0 0 10px;
}

.sm-col {
  width: 100%;
  height: 195px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("https://lh3.googleusercontent.com/pw/ACtC-3em2suREjX4PhYQ4wY1rjHJoTs8A0mjfk_Q1tNWjp2aH09hTn6_efs4_W4NYEmIaFw1k2MnwE2DinwxPmhEG_PlleU9Y0Exxm6dPt47qgSqNaTZ6KcoUb8fkpfLeZy95EgSGthbRdb1I_AwXQRHtMzY=w815-h452-no?authuser=0");
  background-size: 100% 100%;
  position: relative;
  color: white;
}

.sm-col:nth-child(2) {
  margin-top: 10px;
}

.main {
  width: 60%;
  height: 400px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("https://lh3.googleusercontent.com/pw/ACtC-3eTb4rLxWhijVKPf1By4gSeL7L__gn8pjYqikSMeMjwkbF10mAR5iKs07rqRQXnIODo_KB8b1kF6Qs1I0sC_9SFUzTxgmiOp_mQCsH-rAPMD4pvWLMb4N6b6kom8X1F9uWP6Ifccx7Qw5vyPJFbGhNu=w1753-h744-no?authuser=0");
  background-size: 100% 100%;
  position: relative;
}

.fa-clock {
  padding: 0 3px 0 5px;
}

.main h1 {
  color: white;
  text-shadow: -3px -1px 5px black;
  padding: 0 0 10px 15px;
  margin: 0;
  font-size: 56px;
}

.main-text h1 {
  text-shadow: black -3px -1px 5px;
  padding: 0 0 10px 15px;
  margin: 0;
}

.main-author {
  padding: 0 0 15px 15px;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}

.main-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.side {
  width: 38.5%;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.fundraising {
  padding: 12px;
}

.container-heading {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  font-weight: bold;
}

.container-highlight {
  font-size: 28px;
  color: #f42;
  text-decoration: none;
}

.container-links,
.container-links a {
  text-decoration: none;
  color: #f42;
  font-size: 16px;
}

.container-links {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-evenly;
  font-weight: bold;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  justify-content: space-between;
}

.panel {
  position: relative;
  width: calc(25% - 20px);
  font-family: "Helvetica", sans-serif;
}

.image {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3d2TqVCohCiR0gaC2LlPH59PPNJ9cAgoYVS1x6--Sj9djA7nEj89mld-l_YP7vSRHWBFWNdiXLtk-5UUQUS0-LRPZxbjEK-YaZFaOgwm2fGjtRl4jeMPgxeH6ZU24iRTiYp9X81G3vXOL8Q64xuDP-P=s60-no?authuser=0");
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.upper {
  background: #f42;
  height: 40px;
  align-items: center;
  display: flex;
}

.upper strong {
  padding: 10px 16px 10px 84px;
  color: white;
}

.lower {
  padding: 10px 16px 10px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
}

.tag {
  font-weight: lighter;
}

.label {
  font-size: 13px;
  padding-bottom: 5px;
}

.primary-card {
  padding: 16px;
  background: #fffaf8;
  border-bottom: 1px solid #ffd1c9;
  margin: 0;
}

.col-3 {
  width: calc(33% - 24px);
  padding: 12px;
}

.categories {
  display: flex;
  padding: 15px 0 15px;
  flex-wrap: wrap;
}

.categories-heading {
  font-size: 28px;
  color: #f42;
  margin-bottom: 14px;
}

.categories-img {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(https://lh3.googleusercontent.com/pw/ACtC-3em2suREjX4PhYQ4wY1rjHJoTs8A0mjfk_Q1tNWjp2aH09hTn6_efs4_W4NYEmIaFw1k2MnwE2DinwxPmhEG_PlleU9Y0Exxm6dPt47qgSqNaTZ6KcoUb8fkpfLeZy95EgSGthbRdb1I_AwXQRHtMzY=w815-h452-no?authuser=0);
  width: 100%;
  height: 270px;
  position: relative;
}

.main-author-categories {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}

.text-top {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.categories-h1 {
  font-size: 20px;
  color: white;
}

.author::after {
  content: "\B7";
  margin-left: 4px;
  color: hsla(0, 0%, 100%, 0.6);
}

.image-heading {
  bottom: 0;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
}

.latest-container {
  padding: 10px 14px 0;
  width: calc(100% - 96px);
}

.latest {
  color: #f42;
  font-size: 13px;
}

.latest-text {
  font-size: 14px;
  color: #f42;
  font-weight: bold;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.latest-img {
  background: url(https://lh3.googleusercontent.com/pw/ACtC-3em2suREjX4PhYQ4wY1rjHJoTs8A0mjfk_Q1tNWjp2aH09hTn6_efs4_W4NYEmIaFw1k2MnwE2DinwxPmhEG_PlleU9Y0Exxm6dPt47qgSqNaTZ6KcoUb8fkpfLeZy95EgSGthbRdb1I_AwXQRHtMzY=w815-h452-no?authuser=0);
  width: 96px;
  height: 96px;
}

.list {
  font-size: 13px;
  padding: 6px 0 6px 14px;
  position: relative;
}

.list::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.latest-news {
  padding: 12px;
}

.news-img {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(https://lh3.googleusercontent.com/pw/ACtC-3fnNRoGsHzsIq0VGSq7A3joUAlKi6bzgI3N3DLdabEpGKjL-d5rIX9ipYPezruibO_kXKPcVvE2avEOeQdbBewywdU91nDIr5uuG5aEpTNIBb8rqhUKorxmeweicWtlu5l6kNOknIkM4xHwxM5rUpP1=w672-h345-no?authuser=0);
  background-size: contain;
  width: 100%;
  height: 135px;
}

.news-4 {
  width: calc(25% - 12px);
  padding: 12px 12px 12px 0;
}

.news-h2 {
  font-size: 16px;
  margin: 10px 0 10px;
}

.author {
  color: #aaa;
  font-size: 13px;
}

.news {
  flex-wrap: wrap;
}

.categories-heading {
  font-weight: bold;
}

.deals {
  padding: 12px;
}

.deal {
  width: calc(25% - 12px);
  padding: 12px 12px 12px 0;
}

.deal-img {
  background: url(https://lh3.googleusercontent.com/pw/ACtC-3ecBp90F3SQENxSeW7X2J3C26QbG3p0ZughhoJ5Nm-qXWGQ183CjhInu9eZ561t5HmBzVU8lArFBJTGotQ5dj_jsGaUH_wRfNybRSQFm-Pj7Khc7e_LOfv6cEpBrRAQhcr-QGrGx7oB3G-_sNpv9ChK=w266-h199-no?authuser=0);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.deal-text {
  font-weight: bold;
  padding-top: 5px;
}

.prices {
  color: #555;
}

.price {
  font-weight: bold;
}

.price-crossed {
  text-decoration: line-through;
  font-size: 13px;
  margin-right: 4px;
}

.wrap-price {
  padding-left: 10px;
}

footer .fab,
footer .fas {
  color: white;
  padding: 20px;
  border-radius: 50%;
  background-color: #6d6d6d;
}

.primary-card .fas {
  padding-right: 10px;
}

.secondary-card {
  padding: 10px 16px 16px 16px;
  background: #fffaf8;
  font-size: 12px;
}

.secondary-card span {
  color: #aaa;
}

footer {
  height: 300px;
  background: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-links {
  padding-top: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #a5a5a5;
  padding: 10px 5px 10px 5px;
}

@media (max-width: 1300px) {
  .container-heading {
    display: block;
  }
}

@media (max-width: 1140px) {
  .panels {
    display: block;
  }

  .panel {
    width: 90%;
    margin: auto;
  }

  .container {
    width: 100%;
  }

  .container-heading {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .logo {
    display: block;
  }

  .main-text {
    font-size: 12px;
  }

  .main h1 {
    font-size: 38px;
  }

  .container-heading {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 830px) {
  .logo {
    display: none;
  }

  .bars {
    display: none;
  }
}

@media (max-width: 800px) {
  .right-panel {
    display: none;
  }
}

@media (max-width: 830px) {
  .header-tabs,
  .links {
    display: none;
  }

  .header-tabs-bottom {
    justify-content: flex-end;
  }

  .logo {
    height: 50px;
  }
}

@media (max-width: 773px) {
  .photos-grid {
    display: block;
  }

  .main,
  .sm-col {
    width: 100%;
    height: 200px;
    margin: 0;
  }

  .side {
    width: 100%;
  }

  .sm-col:nth-child(1) {
    margin-top: 10px;
  }

  .main h1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .col-3 {
    width: calc(50% - 24px);
  }
  .news-4 {
    width: calc(33% - 24px);
  }
  .deal {
    width: calc(33% - 24px);
  }
}

@media (max-width: 576px) {
  .col-3 {
    width: calc(100% - 24px);
  }
  .news-4 {
    width: calc(100% - 24px);
    display: flex;
  }
  .news-img {
    width: 75px;
    height: 75px;
  }
  .news-h2 {
    margin: 5px 0 10px 5px;
  }
  .author {
    margin: 5px 0 10px 8px;
  }
  .deal {
    display: flex;
    width: calc(100% - 24px);
  }
  .deal-img {
    width: 75px;
    height: 75px;
  }
}
